<style>
  .bill-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  .bill-box a {
    text-decoration: none;
    color: #007bff;
  }
  .bill-box a:hover {
    text-decoration: underline;
  }
  .bill-status {
    font-weight: bold;
  }
</style>


<body class="bg-white text-black">
  <div class="container mx-auto px-4">
    <h1 class="text-2xl font-bold mb-4"> Welcome <%= @user.name %> </h1>

    <main class="flex">
      <div id="digest-section" class="w-2/3 pr-4">
        <% cache @selected_categories do %>
          <% if @selected_categories.to_a.any? %>
            <%= link_to "Edit My Categories", user_path(@user),
            class: "py-1 px-10 bg-transparent text-black font-semibold border border-black  hover:bg-black hover:text-white hover:border-transparent transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0 mb-4 float-right" %>
          <% end %>
        <% end %>

        <div id="bill-digest">
          <h3 class="text-2xl font-bold mb-2"> <strong> Digest</strong></h3>
          <% if @digest_bills.blank? %>
            <%= button_to "select bill topics", user_path(@user), method: :get, class: "py-1 px-10 bg-transparent text-black font-semibold border border-black  hover:bg-black hover:text-white hover:border-transparent transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0 mb-4 float-center" %>
          <% else %>
            <% cache @digest_bills do %>
              <% @digest_bills[0..9].each do |bill| %>
                <% cache bill do %>
                  <ul class="mb-2">
                    <li> <strong>Bill Title: <%= link_to bill.name, bill_path(bill.bill_id) %> </strong>
                    <br>
                    <strong> Status:</strong> <%= bill.status %>
                    <br>
                    <strong> Quick Glance:</strong> <%= bill.description %> </li>
                  </ul>
                  <% unless bill.equal?(@digest_bills.last) %>
                    <hr class="my-2"><br> <!-- This adds a horizontal line between each bill -->
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <aside id="saved-bills" class="w-1/3 pl-4">
        <h3 class="text-2xl font-bold mb-2"> <strong> My Saved Bills</strong></h3>
        <ul>
          <% cache @saved_bills do %>
            <% @saved_bills.each do |bill| %>
              <% cache bill do %>
                <li class="bill-box">
                  <div class="mb-1"><%= link_to "Bill Name: #{bill.bill_number}", bill_path(bill.bill_id) %></div>
                  <div class="mb-1"> Bill Title: <%= bill.name %> </div>
                  <div class="mb-1 bill-status"> Bill Status:
                    <% case bill.status %>
                      <% when 1 %>
                        Introduced
                      <% when 2 %>
                        Engrossed
                      <% when 3 %>
                        Enrolled
                      <% when 4 %>
                        Passed
                      <% when 5 %>
                        Vetoed
                      <% when 6 %>
                        Failed
                    <% end %>
                  </div>
                </li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </aside>
    </main>
  </div>
</body>

</html>