<body> 
  <div>
    <%= form_with(url: user_categories_path(@user), method: "post", local: true) do |form| %>
      <% @all_categories.each do |category| %>
        <div>
          <%= hidden_field_tag "categories[#{category.id}]", "0" %>
          
          <%= check_box_tag "categories[#{category.id}]", "1", @selected_category_ids.include?(category.id.to_i) %>
          <%= category.name %>
        </div>
      <% end %>

      <%= select_tag 'state', options_for_select(us_states, @selected_state), include_blank: true %>

      <div>
        <%= submit_tag "Save" %>
      </div>
    <% end %>
  </div>
</body>
