<style>
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Arial', sans-serif; /* You can choose a different trendy font */
}

.above-fold,
.search_results {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 60px 0;
}

.image-container,
.images-container {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.images-container img:first-child {
  margin-bottom: 5px; /* Stagger the images */
}

.content-container {
  flex: 2;
  padding: 20px;
  font-size: 18px; /* Larger font size for content */
}

h1, h2 {
  font-size: 36px; /* Larger font size for headers */
  color: #333;
}

.section-separator {
  border-bottom: 1px solid #ccc;
  margin: 40px 0;
}

.bookmark-btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 16px 16px 0;
    border-color: transparent white transparent transparent;
  }


</style>


<br />
<div class="container">
  <section class="above_fold">
    <%= form_with url: bills_path, method: :get, local: true do |f| %>
      <div class="max-w-xl w-full flex items-center space-x-4">
        
        <div class="flex-grow relative">
          <div class="absolute top-1 left-2 inline-flex items-center p-2">
            <i class="fas fa-search text-gray-400"></i>
          </div>
          <%= f.text_field :search, class: "w-full h-10 pl-10 pr-4 py-1 text-base placeholder-black border bg-gray-200 rounded-full focus:shadow-outline", placeholder: "Search by topic" %>
        </div>

    
        <div class="relative">
          <%= f.select :state, options_for_select(us_states_str), {}, class: "w-40 py-2 text-sm font-semibold bg-gray-200 rounded-lg appearance-none" %>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          </div>
        </div>

        <%= f.submit 'Search', class: "py-2 px-4 bg-black text-white rounded hover:bg-white hover:text-black" %>
      </div>
    <% end %>
  


<div class="section-separator"></div>
<section class="search_results">
  <div class="content-container mx-auto p-4">
    <% if !params[:search].nil? %>
      <div class="border p-4 rounded mb-4">
        <h2 class="text-2xl font-bold mb-4 text-center">Search Results</h2>
        <% if @results.empty? || !@results.present? %>
          <p class="text-center">No search results match this query.</p>
        <% else %>
          <% @results[0..14].each do |result| %>
            <div class="mb-4 flex items-center justify-between">
              <div>
                <div class='bill_name'>
                  <p class="font-semibold">Bill Name: <%= link_to "#{result.bill_number}", bill_path(result.bill_id) %></p>
                </div>
                <div class='bill_description'>
                  <p>Description: <%= result.name %></p>
                </div>
              </div>
              <div class="buttons mt-2">
                <% if !@saved_bills.include?(result.bill_id)%>
                  <%= form_with url: user_bills_path, method: :post, local: true do |f| %>
                    <%= f.hidden_field :user_id, value: @user.id %>
                    <%= f.hidden_field :bill_id, value: "#{result.bill_id}" %>
                    <%= f.submit "Save", class: "py-1 px-3 bg-black text-white rounded-t hover:bg-white hover:text-black relative bookmark-btn" %>
                  <% end %>
                <% else %>
                  <%= form_with url: user_bill_path("#{result.bill_number}"), method: :delete, local: true do |f| %>
                    <%= f.hidden_field :user_id, value: @user.id %>
                    <%= f.hidden_field :bill_id, value: "#{result.bill_id}" %>
                    <%= f.submit "Unsave", class: "py-1 px-3 bg-red-500 text-white rounded-t hover:bg-black hover:text-white relative bookmark-btn" %>
                  <% end %>
                <% end %>
              </div>
            </div>
            <hr class="my-2">
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</section>

